PYTHONDONTWRITEBYTECODE=1
FLASK_ENV="development" # FLASK_ENV=production for production environment
SECRET_KEY="your-secret-key"
MONGO_URI="mongodb+srv://<username>:<password>@<host>/<databasename>?authSource=admin&retryWrites=true&w=majority"
S3_BUCKET_URI="your-s3-bucket-url"