PYTHONDONTWRITEBYTECODE=1
FLASK_ENV="development" # FLASK_ENV=production for production environment
SECRET_KEY="your-secret-key"
MONGO_URI="mongodb+srv://<username>:<password>@<host>/<databasename>?authSource=admin&retryWrites=true&w=majority"
S3_BUCKET_URI="your-s3-bucket-url"
S3_BUCKET_NAME="your-s3-bucket-name"
AWS_ACCESS_KEY_ID="your-access-key"
AWS_SECRET_ACCESS_KEY="your-secret-key"
AWS_DEFAULT_REGION="us-east-1"