<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ context.error_code }} | {{ context.error_message }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/base.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}" />
  </head>

  <body>
    <main class="flex h-full w-full items-center justify-center bg-gray-900">
      <div
        class="flex flex-col items-center justify-center text-lg font-normal text-gray-200 md:text-xl lg:flex-row lg:gap-2"
      >
        <span>{{ context.error_code }}</span>
        <span class="rotate-90 lg:rotate-0">|</span>
        <span>{{ context.error_message }}</span>
      </div>
    </main>
  </body>
</html>
