<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Login | MovieDb</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/base.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}" />
  </head>
  <body>
    <main class="h-full w-full">
      <section class="bg-gray-50">
        <div class="mx-auto flex flex-col items-center justify-center px-6 py-8 md:h-screen lg:py-0">
          {% if message %}
          <div class="mb-6 w-full rounded bg-red-600 px-4 py-2.5 sm:max-w-md">
            <span class="text-lg font-semibold text-gray-100">{{ message }}</span>
          </div>
          {% endif %}
          <div class="w-full rounded-lg bg-white shadow sm:max-w-md md:mt-0 xl:p-0">
            <div class="space-y-4 p-6 sm:p-8 md:space-y-6">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                Sign in to your account
              </h1>
              <form class="space-y-4 md:space-y-6" action="/auth/login" method="post">
                <div>
                  <label for="username" class="mb-2 block text-sm font-medium text-gray-900">Username</label>
                  <input
                    type="text"
                    name="username"
                    id="username"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-blue-600 focus:ring-blue-600"
                    placeholder="your_username"
                    required=""
                  />
                </div>
                <div>
                  <label for="password" class="mb-2 block text-sm font-medium text-gray-900">Password</label>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="••••••••"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 focus:border-blue-600 focus:ring-blue-600"
                    required=""
                  />
                </div>
                <button
                  type="submit"
                  class="w-full rounded-lg bg-blue-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300"
                >
                  Sign in
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
