{% extends "layout.html" %} {% block content %}
<main>
  <section class="w-full py-12">
    <div class="mx-auto w-full max-w-screen-2xl px-4">
      <div class="my-8 flex w-full flex-wrap gap-8">
        {% for movie in movies %}
        <div class="group grid max-w-[35rem] cursor-pointer grid-cols-2 gap-4 transition-all">
          <div>
            <img src="/movie/poster/{{ movie.poster }}" alt="{{ movie.title }}" class="aspect-auto h-auto w-full" />
          </div>
          <div>
            <h1 class="my-2 text-2xl font-semibold text-gray-800 group-hover:underline">{{ movie.title }}</h1>
            <!-- Released Date -->
            <h2 class="inline-block text-base font-semibold text-gray-500">{{ movie.release_year }}</h2>
            <!-- Genre -->
            <span class="mx-2 text-base font-normal text-gray-600">{{ movie.genre }}</span>
            <!-- Rating -->
            <span class="sr-only mx-2">Divider</span>
            <ion-icon name="star" style="color: goldenrod"></ion-icon>
            <span class="text-base font-normal text-gray-600">{{ movie.rating }}</span>
            <!-- Summary -->
            <p class="py-2.5 text-base font-normal text-gray-700 group-hover:underline">{{ movie.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock %}
