{% extends "layout.html" %} {% block content %}
<main class="h-full w-full">
  <section class="mx-auto max-w-7xl px-6">
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {% for movie in movies %}
      <div class="flex overflow-hidden rounded-lg bg-white shadow-md">
        <img src="/movie/poster/{{ movie.poster }}" alt="{{ movie.title }}" class="h-48 w-32 object-cover" />
        <div class="flex-1 p-4">
          <h3 class="text-lg font-semibold">{{ movie.title }}</h3>
          <p class="text-sm text-gray-600">
            {{ movie.release_year }} • {{ movie.genre }} •
            <span class="font-medium text-yellow-800">
              <ion-icon name="star" style="color: goldenrod"></ion-icon> {{ movie.rating }}</span
            >
          </p>
          <p class="mt-2 line-clamp-4 text-sm text-gray-700">{{ movie.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
